## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [150]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [151]:

s=list(range(100)) #Cada valor es un entero que cae entre 0 y 100
sample_list_1=random.sample(s,80) #generando los 80 números aleatorios (sin repetición)
len(sample_modif)

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [168]:
set1=set(sample_list_1)
print(set1)
print('Tamaño:',len(set1))

if len(set1)==len(sample_list_1):
    print('Su longitud sigue siendo ',len(sample_list_1))
else:
    print('Su longitud cambió. Los sets no toman repeticiones.')

{1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 42, 43, 44, 45, 49, 51, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 85, 86, 88, 90, 91, 93, 94, 96, 98, 99}
Tamaño: 80
Su longitud sigue siendo  80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [153]:
sample_list_2=random.choices(sample_list_1,k=80) #generando los 80 números aleatorios (con repetición)
print('Tamaño:',len(sample_list_2))
print(sample_list_2)

Tamaño: 80
[86, 51, 72, 20, 27, 27, 63, 77, 59, 7, 85, 93, 75, 75, 80, 24, 32, 7, 85, 83, 42, 1, 11, 49, 7, 74, 11, 19, 25, 27, 9, 51, 93, 62, 25, 33, 39, 25, 2, 3, 16, 11, 11, 16, 99, 90, 30, 29, 83, 69, 32, 90, 65, 85, 91, 65, 56, 55, 25, 58, 36, 31, 6, 65, 26, 44, 59, 76, 72, 65, 16, 31, 90, 63, 53, 1, 22, 72, 75, 51]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [154]:
set2=set(sample_list_2)
print(set2)
print('Tamaño:',len(set2))

if len(set2)==len(sample_list_2):
    print('Su longitud sigue siendo ',len(sample_list_2))
else:
    print('Su longitud cambió. Los sets no toman repeticiones.')

{1, 2, 3, 6, 7, 9, 11, 16, 19, 20, 22, 24, 25, 26, 27, 29, 30, 31, 32, 33, 36, 39, 42, 44, 49, 51, 53, 55, 56, 58, 59, 62, 63, 65, 69, 72, 74, 75, 76, 77, 80, 83, 85, 86, 90, 91, 93, 99}
Tamaño: 48
Su longitud cambió. Los sets no toman repeticiones.

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [155]:
set3=set1-set2
print('Tamaño: ',len(set3))
print(set3)

Tamaño:  32
{8, 10, 12, 13, 14, 17, 18, 21, 23, 28, 34, 35, 37, 38, 43, 45, 54, 57, 60, 64, 66, 68, 70, 71, 73, 78, 79, 82, 88, 94, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [156]:
set4=set2-set1
print('Tamaño: ',len(set4))
print(set4)

Tamaño:  0
set()

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [157]:
set5=set1.intersection(set2)
set5

{1,
 2,
 3,
 6,
 7,
 9,
 11,
 16,
 19,
 20,
 22,
 24,
 25,
 26,
 27,
 29,
 30,
 31,
 32,
 33,
 36,
 39,
 42,
 44,
 49,
 51,
 53,
 55,
 56,
 58,
 59,
 62,
 63,
 65,
 69,
 72,
 74,
 75,
 76,
 77,
 80,
 83,
 85,
 86,
 90,
 91,
 93,
 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [164]:
tamanos={len(set1),len(set2),len(set3),len(set4),len(set5)}

#### Create an empty set called `set6`.

In [66]:
set6=[]

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [158]:
set6=set3.union(set5)
set6

{1,
 2,
 3,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 42,
 43,
 44,
 45,
 49,
 51,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 82,
 83,
 85,
 86,
 88,
 90,
 91,
 93,
 94,
 96,
 98,
 99}

#### Check if `set1` and `set6` are equal.

In [159]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [160]:
a=set2.issubset(set1)
print('¿Está set1 dentro de set2?: ',a)
b=set3.issubset(set1)
print('¿Está set1 dentro de set3?: ',b)

¿Está set1 dentro de set2?:  True
¿Está set1 dentro de set3?:  True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [163]:
set345=set3.union(set4,set5)
set12345=set345.union(set1,set2)

#PRIMERA OPCIÓN
set12=set1.union(set2) #esto es para comparar si los valores agregados son iguales a lo que ya se tenía
print(set12==set345)

#OTRA OPCIÓN:
print(set345.issubset(set12)) #ver si set12 es subconjunto de set345

True
True

#### Using the `pop` method, remove the first element from `set1`.

In [170]:
set1_modif=set1.pop() #Este método devuelve un elemento aleatorio del conjunto y lo elimina del mismo

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [139]:

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
a=set(list_to_remove)
set1_nvo=set1-a
set1_nvo

{10,
 12,
 14,
 15,
 16,
 17,
 20,
 22,
 23,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 36,
 38,
 40,
 42,
 43,
 46,
 48,
 52,
 53,
 54,
 55,
 56,
 57,
 60,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 70,
 72,
 74,
 75,
 76,
 77,
 78,
 80,
 83,
 84,
 85,
 87,
 88,
 90,
 92,
 93,
 94,
 95,
 96,
 98}